{% extends 'website/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header bg-secondary-subtle">
        <strong>{{ customer_record.first_name }}
        {{ customer_record.last_name }}</strong>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Email:  </strong>{{ customer_record.email }}</br></p>
      <p class="card-text">
        <strong>Phone:  </strong>{{ customer_record.phone }}</br></p>
      <p class="card-text">
        <strong>Address:    </strong>
        {{ customer_record.zipcode }}
        {{ customer_record.address }}
        {{ customer_record.city }}
        {{ customer_record.state }}</br></p>
      <p class="card-text">
        <strong>Created_at: </strong>{{ customer_record.created_at|date }}</br></p>
      <p class="card-text">
        <strong>Updated_at: </strong>{{ customer_record.updated_at|date }}</br></p>
      <p class="card-text">
        <strong>ID  :</strong>{{ customer_record.id }}</p>
      
      <a href="{% url 'website:home' %}" class="btn btn-primary">Return</a>
      <a href="{% url 'website:delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'website:update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
    </div>
  </div>

{% endblock %}